@import url(global.css);

.titulo {
    text-align: center;
    color: var(--primary-color);
    font-size: var(--big);
}

.parrafo {
    margin: 1rem 5rem;
    color: var(--primary-color);
    font-size: var(--large);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    background-color: var(--primary-color);
}

.header__logo {
    text-decoration: none;
    color: #fff;
    font-size: var(--medium);
    font-weight: bold;
}

.nav {
    display: inline-block;
}

.nav__link {
    text-decoration: none;
    color: white;
    font-size: var(--small);
}

.main {
    min-height: 80vh;
}

.footer {
    padding: 1rem 4rem;
    color: #fff;
    background-color: #000;
}

.footer__description{
    text-align: center;
    font-size: var(--medium);
}